* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Raleway', sans-serif;

}

a {
  border: 1px solid white;
  font-family: 'Open Sans', sans-serif;
  padding: 16px;
  padding-left: 18px;
  text-decoration: none;
  letter-spacing: 2px;
  color: #fff;
  text-align: center;
}
a:hover {
  background-color: white;
  color: black;
  opacity: 0.9;
  transition: 0.4s;
}
