body {
  font-family: 'Raleway', sans-serif;
 

}

a {
  border: 1px solid white;
  font-family: 'Open Sans', sans-serif;
  padding: 15px;
  padding-left: 10px;
  text-decoration: none;
  letter-spacing: 2px;
  color: #fff
}
a:hover {
  background-color: white;
  color: black;
  opacity: 0.9;
  transition: 0.5s;
}
