* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Raleway', sans-serif;
  background-color: black;
}
.background-wrap {
  position: fixed;
  z-index: -1000;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
}

#video-bg-elem {
  position: relative;
  top: -10%;
  left: 0;
  width: 100%;
  height: auto;
  background-position: center;

}
.content {
  position: absolute;
  width: 100%;
  min-height: 100%;
  z-index: 1000;
  text-align: center;
}
.content h1 {
  text-align: center;
  font-size: 87px;
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
  padding-top: 15%;
  margin-bottom: 10px;
  letter-spacing: 15px;
}
a {
  border: 1px solid white;
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  padding-left: 15px;
  text-decoration: none;
  letter-spacing: 2px;
  color: #fff
}
a:hover {
  background-color: white;
  color: black;
  opacity: 0.9;
  transition: 0.8s;
}
